{% extends "skeleton.html" %}

{% block heading_main %}Tracker List 
<a href="{% url "trackmsg:form" %}" style=""> 
<span  class="glyphicon glyphicon-plus-sign" style="display:inline-block;position: relative;top:5px;"> </span></a> {% endblock %}
{% block content_m %}
<section class="container">
	<div class="row">	
		<div class="col-md-10 col-md-offset-1">
			{% if trackers %}
				
				<table class="table table-hover">
				    <thead>
				      <tr>
				        <th>tag</th>
				        <th>activity</th>
				        <th>alerts</th>
				        <th>created</th>
				        <th>active</th>
				      </tr>
				    </thead>
				    <tbody>
				      {% for t in trackers %}
				      <tr class="{% if t.active %}
				      {% if t.get_total_alerts %}
				      danger
				      {% else %}
				      success
				      {% endif %}
				      {% else %}active{% endif %}"
				      >
				        <td> <a href="{% url "trackmsg:detail" t.pk %}"> {{ t }} </a> </td>
				        <td>{{ t.get_total_messages }}</td>
				        <td>{{ t.get_total_alerts }}</td>
				        <td>{{ t.created }}</td>
				        <td>{{ t.active }}</td>
				        <td> 
					        <a href="{% url "trackmsg:form-edit" t.pk %}" class="btn btn-info btn-xs">
					          <span class="glyphicon glyphicon-pencil"></span> Edit
					        </a> 
					    </td>
				      </tr>
				      {% endfor %}
				    </tbody>
				  </table>

				<ul class="list-group">
					
				</ul>
			

			{% else %}
				<h3> No trackers found! </h3>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}